body{
  background: url('img/background-pattern.jpeg');
  background-size: 30%;
}

.dark-overlay{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 700px;
  background-color: rgba(0, 0, 0, 0.5);
}

.extra-dark-overlay{
  position: relative;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

@media(max-width: 991px){
  .small-resp{
    margin-bottom: 2rem;
  }
}
